[versions]
precompose = "1.6.2"
spotless = "7.0.0.BETA4"
central = "1.2.5"
dokka = "1.9.20"

[libraries]
precompose = { module = "moe.tlaster:precompose", version.ref = "precompose" }

[plugins]
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
central = { id = "cn.lalaki.central", version.ref = "central"}
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
