[versions]
precompose = "1.6.2"
spotless = "7.0.0.BETA4"
central = "1.2.5"
dokka = "2.0.0"
compose = "1.8.0-alpha01"
kotlin = "2.1.0"

[libraries]
precompose = { module = "moe.tlaster:precompose", version.ref = "precompose" }

[plugins]
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
central = { id = "cn.lalaki.central", version.ref = "central"}
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
compose = { id = "org.jetbrains.compose", version.ref = "compose" }
compose-kotlin = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
